@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  html {
    font-family: "Silka", sans-serif;
  }
}
.footerbg{
  background-color:#491546 ;
}
.newsletterbg{
  background:#f7f7f7;
;
}
.aboutherobg{
  background: #491546;
}
.textcolor{
  color: #491546;
}
.faqsbg{
  background-color: #E5E5E5;
}