@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  html {
    font-family: "Silka", sans-serif;
  }
}
.footerbg{
  background-color:#491546 ;
}
.newsletterbg{
  background:#f7f7f7;
;
}
.aboutbg{
  background-color: #fAfAfA;
}
.abouttext{
  color: #491546;
}
.featurebg{
  background-color: #FFF9FF;
}
/* .suggested{
  width: 2050px;
} */